.home__profile-section {
  color: #fff;
  padding: 160px 0;
}

h1 {
  text-align: center;
  color: black;
}

.center_table {
  margin-left: auto;
  margin-right: auto;
}

.dashboard_button {
  width: 180px;
}